.sidebar {
    background-color: #F8F9FA;
    padding: 25px;

    .sidebar-logo {
        .nav-link{
            padding: 25px 0;
            border-bottom: 1px solid #EAEAEA;
        }
    }

    .nav-link {
        margin: 0;
    }

    .sidebar-tab {
        padding: 25px 0;

        .title {
            margin: 15px 0;
            text-align: center;
        }

        .tab-links {
            font-size: 14px;
            line-height: 20px;
            font-weight: 700;
            padding: 18px;
            text-align: left;
            color: #A0AEC0;
            display: flex;
            align-items: center;

            &.active,
            svg {
                border-radius: 15px;
                background: white;
                box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
                color: black;
            }


            &.active {
                svg {
                    background-color: #4FD1C5;
                    color: white;
                }
            }

            svg {
                margin-right: 15px;
                padding: 10px;
                border-radius: 12px;
                color: #4FD1C5;
            }
        }
    }
}
