.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #38B2AC;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 25px auto;

    p {
        margin: 0;
    }

    .footer-navbar {
        display: flex;
        align-items: center;

        .nav-link {
            margin: 0 20px;
            text-transform: initial;
        }
    }
}